html {
    font-family: 'Amatic SC', cursive;
    font-weight: 600;
    font-size: x-large;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

header {
    text-align: center;
    color: white;
    height: 5%;
    width: 100%;
    background-color: rgba(0,79,113,1);
}

h1 {
    font-size: 400%;
    margin: 0;
}

.form {
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: azure;
    width: 40%;
    height: 40%;
    border: 5px solid;
    padding: 5%;
    gap: 5%;
    min-height: 70%;
}

.form-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

input {
    text-align: center;
    font-family: 'Amatic SC';
    font-weight: 600;
    font-size: x-large;
    min-height: 100%;
}

select {
    text-align-last: center;
    font-family: 'Amatic SC';
    font-weight: 600;
    font-size: x-large;
    min-height: 100%;
}

.save-button {
    width: 50%;
    justify-self: center;
    background: #b3ff99;
    border-radius: 50%;
}

.cancel-button {
    justify-self: center;
    width: 50%;
    background-color: #ff704d;
    border-radius: 50%;
}

button {
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 5%;
    cursor: pointer;
    background: transparent;
    border: 3px solid grey;
    border-radius: 20%;
    margin: 1%;
}

#sidebar {
    float: left;
    text-align: center;
    height: 100vh;
    width: 20%;
    background-color: rgba(100,147,167,1);
}

.sidebar-button {
    width: 80%;
    height: 3em;
    background: transparent;
    color: white;
    margin-top: 10%;
    border: 5px solid;
    border-radius: 50%;
}

#show-project-form {
    margin-top: 10%;
    width: 80%;
    height: 10%;
    background: transparent;
    border: 5px solid;
    border-radius: 50%;
}

#projects-container {
    text-align: center;
    float: right;
    width: 80%;
}

p {
    margin: 0;
}

.project-display {
    border: 1px solid;
    border-color: grey;
    overflow: hidden;
    background: azure;
}

#sidebar-container {
    height: 100%;
    background-color: rgba(100,147,167,1);
    position: absolute;
    width: 20%;
}